# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
# true (recommended) / false
insert_final_newline = true

[*.{java, kt, xml}]
indent_size = 4
# Possible values: number (e.g. 120) (package name, imports & comments are ignored), "off"
max_line_length = off
#disabled_rules=import-ordering,no-wildcard-imports

[*.md]
trim_trailing_whitespace = false
